@import '../base/config';

// common-styles
.form {
  position: relative;

  .form-group {
    position: relative;
    width: 100%;
    display: block;

    &.active {
      .input:not([type="submit"]) {}

      .placeholder {}
    }

    &.invalid {
      .input:not([type="submit"]) {}
    }

    &.message-group {
      .textarea {
        @include invisibleScrollbar;
        resize: none;
        border: 1px solid $black;
      }

      .placeholder {}
    }

    &.checkbox-holder {
      .checkbox {
        @include visually-hidden;
      }
    }

    .input:not([type="submit"]):not([type="checkbox"]) {}

    .placeholder {}
  }
}
