- const isProd = ['--pug-p', '--pug-prod', '--pug-production'].some(item => process.argv.includes(item));
- const isDev = ['--pug-dev', '--pug-development'].some(item => process.argv.includes(item));

- let pageTitle = 'main';
- const bodyAttributes = {};
