include ./mixins

block config
  include ./config

doctype html
html(lang='ru')
  head
    include ./head

    link(rel='stylesheet', href='https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap')
    +styles(['bundle'])

    block styles

    script(src='/js/lazysizes.min.js', async='')
    title Awesome | #{pageTitle}

  body(class='lazyload-fade')&attributes(bodyAttributes)

    include ../sections/header

    block content

    include ../sections/footer

    block scripts
      script(src="/js/bundle.js")
