extends ./base/layout

append config
  -
    pageTitle = 'Main';
    bodyAttributes.class = 'page-main'

append styles
  +styles(['page-main'])

block content
  main.main
    .container
      h2 Main
