extends ./base/layout

append config
  -
    pageTitle = 'Main';
    bodyAttributes.class = 'page-main'

append styles
  link(rel='stylesheet', href='./css/page-main.css')

block content
  main.main
    .container
      h2 Main
