//debug
//$debug-outline: true;

$isDevelopmentMode: false;

//fonts
$system-fonts: system-ui,
  /* macOS 10.11-10.12 */ -apple-system,
  /* Windows 6+ */ Segoe UI,
  /* Android 4+ */ Roboto,
  /* Ubuntu 10.10+ */ Ubuntu,
  /* Gnome 3+ */ Cantarell,
  /* KDE Plasma 5+ */ Noto Sans,
  /* fallback */ sans-serif,
  /* macOS emoji */ "Apple Color Emoji",
  /* Windows emoji */ "Segoe UI Emoji",
  /* Windows emoji */ "Segoe UI Symbol",
  /* Linux emoji */ "Noto Color Emoji";
$montserrat: 'Montserrat', $system-fonts;


//colors
$black: #000;


//variables for grid mixins
$columns: 12 !default;
$gutter: 40px !default;
$offset: 15px !default;

//easings
@import 'easings';
