- const __PROD__ = ['--pug-p', '--pug-prod', '--pug-production'].some(item => process.argv.includes(item));
- const __DEV__ = ['--pug-d', '--pug-dev', '--pug-development'].some(item => process.argv.includes(item));

-
	let ogUrl = '/index.html',
			ogType = 'website',
			ogTitle = 'Awesome title for facebook',
			ogImage = '/images/cat.jpg',
			ogImageAlt = 'Cat',
			ogDescription = 'So awesome cat!',
			ogSiteName = 'Awesome template',
			ogLocale = 'ru_RU',
			articleAuthor = 'devsendjin',

			siteUrl = 'http://localhost:3000/',

			pageTitle = 'Index',
			bodyAttributes = {};
